*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html body{
    max-width: 100%;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

/* navbar */
.logo{
    position: relative;
    bottom: 15px;
}
.main{
    background-image: url("img/showcase.jpeg");
    background-size: cover;
    background-position: center;
}
.navbar-nav{
margin-left: auto;
}

.nav-link{
    color: white;
    font-size: 18px;
}

.nav-link:hover{
    color: yellow;
    font-size: 18px;
}
.main-content{
    padding-block: 140px;
    color: white;
}
.heading-2{
    color: #FFFF00;
    font-weight: bold;
}
.main-content p{
    max-width: 50%;
}
.btn{

    background-color: #FFFF00;
    color: black;
    font-weight: bold;
    padding-inline: 40px;
    padding-block: 10px;

}
.btn:hover{
    background-color: black;
    color: #FFFF00;
}
.fa-bars{
    color: white;
}
.navbar-toggler{
    box-shadow: none !important;
}
/* About section */
.dennis-img{

}
.circular-image {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 290px;
    overflow: hidden;
    border-radius: 50%;
    left: 80px;
    top: 40px;
}

.circular-image img {
    width: auto;
    height: 100%;
}
.about-content{
    background-color: black;
    color: white;
    padding-block: 50px;
    padding-inline: 170px;
}
.about-content h1{
    color: #FFFF00;
    font-weight: bold;
    text-align: center;
}
.about-content p{
    padding-block: 20px;
}
.contact-btn-div{
    display: flex;
    justify-content: center;
}
.contact-btn{
    background-color: white;
    color: black;
    padding-inline: 40px;
    padding-block: 10px;
}
.about-content a{
    border-radius: 0;
}

/* Progetti Section */
.progetti-section{
    background-color: #326733;
    padding-block: 20px;
}
.progetti-heading{
    color: #FFFF00;
    font-weight: bold;
}
.slider-row{
    background-color: #75892d;
    padding-block: 20px;

}
.progetti-btn-div{
    display: flex;
    justify-content: center;
}
.progetti-btn{
    background-color: #FFFF00;
    color: black;
    border-radius: 0;
}

/* Contact Section */
.contatti-div{
    background-color: black;
    color: #FFFF00;
    padding-block: 92px;
}
.contatti-div-2{
    padding-block: 50px;
}
.contact-details{
    list-style-type: none;
}
.contact-details li a{
    color: initial;
    text-decoration: none;
    font-weight: bold;
    padding-left: 22px;
}
.contatti-div-3 h3{
    writing-mode: vertical-rl;
    color: black;
    text-orientation: revert;
    font-weight: bold;
    text-align: center;
}

.contatti-div-3{
    padding-block: 42.5px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}
.social-links{
    list-style-type: none;
}
.social-links li a img{
    margin-top: 11px;
}

/* Footer */
.footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 10px;
    color: white;
}
.footer-headings{
    font-weight: bold;
}
.mail-tel{
    text-decoration: none;
    color: white;
}
.footer-heading-side-border{
    border-left: 2px solid #FFFF00;
}

/* Responsiveness */
@media (max-width: 767px) {

    html{
        max-width: 100%;
        overflow-x: hidden;
    }

    .main-content p{
        min-width: 100%;
    }
    .circular-image{
      margin-left: -45px;
       margin-bottom: 60px;
    }

    .about-content{
        padding: 15px;
        padding-top: 55px;
    }

    .about-text{
        font-size: 50px;
    }

    .progetti-heading{
        font-size: 50px;
    }

    .contatti-text{
        font-size: 50px
    }
    .about-me-footer, .recent-projects-footer, .project-image-footer{
        margin-top: 20px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    html{
        max-width: 100%;
        overflow-x: hidden;
    }
    .circular-image{
        margin-left: -45px;
        width: 200px;
        height: 190px;
    }
    .about-content{
        padding: 15px;
        padding-top: 25px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    html{
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .circular-image{
        margin-left: -15px;
        width: 250px;
        height: 250px;
        margin-top: -30px;
        }
    .about-content{
        padding: 20px;
    }

}

@media (min-width: 1200px) {

    html{
        max-width: 100%;
        overflow-x: hidden;
    }
}